# Große Cisco-/Containerlab-Images werden nicht mit Git versioniert.
# Die zugehörigen YAML-Konfigurationen bleiben im Repository.
Cisco-CML-Images/**/*.tar
Cisco-CML-Images/**/*.iol
Cisco-CML-Images.zip
Cisco-CML-Images
# Laufzeit-Artefakte und lokale Testprotokolle.
echt-hamburg/clab-echt-hamburg/
echt-hamburg/logs/
