no ip domain lookup
banner motd ^C
*** {{ franchise_name }} | {{ group_name }} ***
Unbefugter Zugriff ist verboten.
Gott Strafe Cisco
^C
!
no ip routing
vtp mode transparent
!
vlan 10
 name CUSTOMER_SUPPORT
vlan 20
 name IT
vlan 30
 name WEBSERVER
vlan 99
 name MANAGEMENT
!
interface {{ switch_trunk }}
 description 802.1Q-Trunk-zu-R1
 switchport mode trunk
 switchport trunk native vlan 1
 switchport trunk allowed vlan add 10,20,30,99
 no shutdown
!
interface {{ switch_customer }}
 description Customer-Support-Client
 switchport mode access
 switchport access vlan 10
 spanning-tree portfast
!
 !switchport port-security
 !switchport port-security maximum 1
 !switchport port-security mac-address aaaa.aabb.bbbb
 !switchport port-security violation shutdown
 no shutdown
!
interface {{ switch_test }}
 description Testclient-VLAN-{{ switch_test_vlan }}
 switchport mode access
 switchport access vlan {{ switch_test_vlan }}
 spanning-tree portfast
 no shutdown
!
interface {{ switch_management }}
 description Management-Client
 switchport mode access
 switchport access vlan 99
 spanning-tree portfast
 no shutdown
!
line vty 0 4
 login local
 transport input ssh